<!DOCTYPE html>
<html lang="en">
<head>
  <title>Definitions</title>
  <%- include('partials/head') %>
</head>
<body class="center-child">
  <div class="wrapper">
    <%- include('partials/nav') %>
    <main class="text-box">
      <h1>Javascript Definitions</h1>
      <%- include('partials/definition-new') %>
      <dl>
        <template>
          <div>
            <dt><a href=""></a></dt>
            <dd></dd>
          </div>
        </template>
      </dl>
    </main>
    <%- include('partials/footer') %>
</div>
  <%- include('partials/foot') %>
</body>
</html>